.App.App-mainContainer {
  padding: 0 10px;
}
.App-selectFeedBar {
  display: block;
}

.App-selectFeedBar select {
  font-size: 17px;
}

.App-selectFeedBar a {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  padding: 2px 6px;
  text-decoration: none;
}

.App-filterFeedsBar a {
  cursor: pointer;
  font-family: 'lorabold', serif;
  margin: 10px 0 0 0;
  margin-right: 10px;
  text-decoration: underline;
}

.App-filterFeedsBar span {
  font-family: 'lorabold', serif;
  margin-right: 10px;
}

.App-refreshFeed {
  float: right;
  cursor: pointer;
}
