.AddFeedModal.AddFeedModal-overlay {
  background-color: rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.AddFeedModal-modalContainer {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  min-width: 250px;
  width: auto;
  height: 100px;
  margin: 0 5px;
  padding: 15px;
  position: fixed;
  top: 20%;
  left: 0%;
  z-index: 100;
}

.AddFeedModal label {
  display: block;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.AddFeedModal input {
  width: 100%;
}

.AddFeedModal-errors {
  color: #FF0000;
  display: block;
  font-family: sans-serif;
  font-size: 12px;
}

.AddFeedModal-actions {
  bottom: 20px;
  position: absolute;
  right: 20px;
}

.AddFeedModal-btn {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  padding: 2px 6px;
  text-decoration: none;
}


@media(min-width: 400px) {
  .AddFeedModal-modalContainer {
    left: 10%;
  }
}
