html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Feed aggregator: Error
  body
    .container
      if err
        h1 "Error: #{err.statusCode} #{err.error}"
        .well
          p= err.message
