body, html, #main {
  margin: 0;
}

body {
  background-color: #FFF;
  font-family: 'loraregular', serif;
  font-weight: 100;
}

#navbar {
  background-color: #FFF;
  border-bottom: 2px solid #CCC;
  height: 47px;
  position: fixed;
  width: 100%;
}

#root {
  max-width: 600px;
  padding: 60px 0;
}
