.Links-clickableItem  {
  border: 1px solid #CCC;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  background-color: #F5F5F5;
}

.Links-meta {
  font-family: sans-serif;
}

.Links-blog {
  font-weight: 400;
}

.Links-body {
  margin: 10px 0;
}

.Links-title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.Links-title:hover {
  background-color: #FFEBEE;
}
